@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Butler";
  src: url("./assets/fonts/Butler_Ultra_Light.otf");
}
@font-face {
  font-family: "Butler-regular";
  src: url(./assets/fonts/Butler_Regular.otf);
}

@font-face {
  font-family: "Butler-Free-Lgt";
  src: url(./assets/fonts/Butler-Free-Lgt.otf);
}
